In [136]:
import pandas as pd

In [15]:
mvps = pd.read_csv("mvps.csv")

In [16]:
mvps

,Unnamed: 0,Rk,Pos,Player,Tm,Votes,Share,G,GS,Cmp,...,TD.1,Rec,Yds.2,TD.2,Solo,Sk,Int.1,Year,Vote Pts,1st Place
0,0,1,QB,Kurt Warner,St. Louis Rams,21.5,43%,16,16,375,...,0,0,0,0,0.0,0.0,0,2001,NaN,NaN
1,1,2,RB,Marshall Faulk,St. Louis Rams,17.5,35%,14,14,0,...,12,83,765,9,0.0,0.0,0,2001,NaN,NaN
2,2,3,QB,Brett Favre,Green Bay Packers,5.0,10%,16,16,314,...,1,0,0,0,NaN,0.0,0,2001,NaN,NaN
3,3,4,QB,Kordell Stewart,Pittsburgh Steelers,4.0,8%,16,16,266,...,5,0,0,0,0.0,0.0,0,2001,NaN,NaN
4,4,5,MLB,Brian Urlacher,Chicago Bears,2.0,4%,16,16,0,...,0,1,27,1,91.0,6.0,3,2001,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,10,11,RB,Derrick Henry,Tennessee Titans,NaN,0.2%,16,16,2,...,13,33,398,0,0.0,0.0,0,2022,1.0,NaN
86,11,12,QB,Justin Herbert,Los Angeles Chargers,NaN,0.2%,17,17,477,...,0,2,-10,0,1.0,0.0,0,2022,1.0,NaN
87,12,13,WR,Tyreek Hill,Miami Dolphins,NaN,0.2%,17,17,0,...,1,119,1710,7,4.0,0.0,0,2022,1.0,NaN
88,13,14,QB,Geno Smith,Seattle Seahawks,NaN,0.2%,17,17,399,...,1,0,0,0,1.0,0.0,0,2022,1.0,NaN
89,14,15,QB,Tua Tagovailoa,Miami Dolphins,NaN,0.2%,13,13,259,...,0,0,0,0,0.0,0.0,0,2022,1.0,NaN

In [17]:
mvps = mvps[["Player", "Year", "Share"]]

In [18]:
mvps

             Player  Year Share
0       Kurt Warner  2001   43%
1    Marshall Faulk  2001   35%
2       Brett Favre  2001   10%
3   Kordell Stewart  2001    8%
4    Brian Urlacher  2001    4%
..              ...   ...   ...
85    Derrick Henry  2022  0.2%
86   Justin Herbert  2022  0.2%
87      Tyreek Hill  2022  0.2%
88       Geno Smith  2022  0.2%
89   Tua Tagovailoa  2022  0.2%

[90 rows x 3 columns]

In [19]:
mvps["Share"] = mvps["Share"].str.replace("%", "", regex = False)

/var/folders/h5/xtjbnsjn6mqg82qv5wnzgkdh0000gn/T/ipykernel_18192/4169622712.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mvps["Share"] = mvps["Share"].str.replace("%", "", regex = False)

In [20]:
mvps

             Player  Year Share
0       Kurt Warner  2001    43
1    Marshall Faulk  2001    35
2       Brett Favre  2001    10
3   Kordell Stewart  2001     8
4    Brian Urlacher  2001     4
..              ...   ...   ...
85    Derrick Henry  2022   0.2
86   Justin Herbert  2022   0.2
87      Tyreek Hill  2022   0.2
88       Geno Smith  2022   0.2
89   Tua Tagovailoa  2022   0.2

[90 rows x 3 columns]

In [137]:
passing = pd.read_csv("passing.csv")

In [138]:
passing

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,...,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Year,QBR,Succ%
0,0,1,Kurt Warner*+,STL,30,QB,16,16,14-2-0,375,...,38,233,6.5,7.87,7.41,1,2,2001,NaN,NaN
1,1,2,Peyton Manning,IND,25,QB,16,16,6-10-0,343,...,29,232,5.0,6.77,5.88,NaN,NaN,2001,NaN,NaN
2,2,3,Brett Favre*,GNB,32,QB,16,16,12-4-0,314,...,22,151,4.1,7.09,7.02,1,2,2001,NaN,NaN
3,3,4,Aaron Brooks,NOR,25,QB,16,16,7-9-0,312,...,50,330,8.2,5.76,4.99,2,3,2001,NaN,NaN
4,4,5,Rich Gannon*,OAK,36,QB,16,16,10-6-0,361,...,27,155,4.7,6.38,6.61,1,2,2001,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,101,100,Kadarius Toney,KAN,24,WR,13,2,NaN,0,...,0,0,0.0,0.00,0.00,NaN,NaN,2023,0.3,0.0
2390,102,101,Kyle Trask,TAM,25,QB,2,0,NaN,0,...,0,0,0.0,0.00,0.00,NaN,NaN,2023,1.2,0.0
2391,103,102,Garrett Wilson,NYJ,23,WR,17,17,NaN,0,...,0,0,0.0,0.00,0.00,NaN,NaN,2023,3.2,0.0
2392,104,103,Christian Kirk,JAX,27,WR,12,12,NaN,1,...,0,0,0.0,-0.50,-0.50,NaN,NaN,2023,3.3,0.0
2393,105,104,Ja'Marr Chase*,CIN,23,WR,16,16,NaN,1,...,0,0,0.0,-7.00,-7.00,NaN,NaN,2023,1.8,0.0

In [139]:
#deleting unneeded columns
del passing["Unnamed: 0"]
del passing["Rk"]
del passing["QBR"]
del passing["QBrec"]
del passing["Succ%"]
del passing["4QC"]
del passing["GWD"]
del passing["Tm"]

In [140]:
passing

,Player,Age,Pos,G,GS,Cmp,Att,Cmp%,Yds,TD,...,AY/A,Y/C,Y/G,Rate,Sk,Yds.1,Sk%,NY/A,ANY/A,Year
0,Kurt Warner*+,30,QB,16,16,375,546,68.7,4830,36,...,8.4,12.9,301.9,101.4,38,233,6.5,7.87,7.41,2001
1,Peyton Manning,25,QB,16,16,343,547,62.7,4131,26,...,6.6,12.0,258.2,84.1,29,232,5.0,6.77,5.88,2001
2,Brett Favre*,32,QB,16,16,314,510,61.6,3921,32,...,7.6,12.5,245.1,94.1,22,151,4.1,7.09,7.02,2001
3,Aaron Brooks,25,QB,16,16,312,558,55.9,3832,26,...,6.0,12.3,239.5,76.4,50,330,8.2,5.76,4.99,2001
4,Rich Gannon*,36,QB,16,16,361,549,65.8,3828,27,...,7.2,10.6,239.3,95.5,27,155,4.7,6.38,6.61,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,Kadarius Toney,24,WR,13,2,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2390,Kyle Trask,25,QB,2,0,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2391,Garrett Wilson,23,WR,17,17,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2392,Christian Kirk,27,WR,12,12,1,2,50.0,-1,0,...,-0.5,-1.0,-0.1,56.2,0,0,0.0,-0.50,-0.50,2023
2393,Ja'Marr Chase*,23,WR,16,16,1,1,100.0,-7,0,...,-7.0,-7.0,-0.4,79.2,0,0,0.0,-7.00,-7.00,2023

In [141]:
#Yds-s represent yards lost to sacks
passing = passing.rename(columns={"Yds.1": "Yds-s",})

In [142]:
#removes asterisks from player names
passing["Player"] = passing["Player"].str.replace("*", "", regex = False)
passing["Player"] = passing["Player"].str.replace("+", "", regex = False)

In [143]:
passing.columns

Index(['Player', 'Age', 'Pos', 'G', 'GS', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD',
       'TD%', 'Int', 'Int%', '1D', 'Lng', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate',
       'Sk', 'Yds-s', 'Sk%', 'NY/A', 'ANY/A', 'Year'],
      dtype='object')

In [144]:
passing

,Player,Age,Pos,G,GS,Cmp,Att,Cmp%,Yds,TD,...,AY/A,Y/C,Y/G,Rate,Sk,Yds-s,Sk%,NY/A,ANY/A,Year
0,Kurt Warner,30,QB,16,16,375,546,68.7,4830,36,...,8.4,12.9,301.9,101.4,38,233,6.5,7.87,7.41,2001
1,Peyton Manning,25,QB,16,16,343,547,62.7,4131,26,...,6.6,12.0,258.2,84.1,29,232,5.0,6.77,5.88,2001
2,Brett Favre,32,QB,16,16,314,510,61.6,3921,32,...,7.6,12.5,245.1,94.1,22,151,4.1,7.09,7.02,2001
3,Aaron Brooks,25,QB,16,16,312,558,55.9,3832,26,...,6.0,12.3,239.5,76.4,50,330,8.2,5.76,4.99,2001
4,Rich Gannon,36,QB,16,16,361,549,65.8,3828,27,...,7.2,10.6,239.3,95.5,27,155,4.7,6.38,6.61,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,Kadarius Toney,24,WR,13,2,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2390,Kyle Trask,25,QB,2,0,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2391,Garrett Wilson,23,WR,17,17,0,1,0.0,0,0,...,0.0,NaN,0.0,39.6,0,0,0.0,0.00,0.00,2023
2392,Christian Kirk,27,WR,12,12,1,2,50.0,-1,0,...,-0.5,-1.0,-0.1,56.2,0,0,0.0,-0.50,-0.50,2023
2393,Ja'Marr Chase,23,WR,16,16,1,1,100.0,-7,0,...,-7.0,-7.0,-0.4,79.2,0,0,0.0,-7.00,-7.00,2023

In [145]:
pd.isnull(passing).sum()

Player      0
Age         0
Pos         5
G           0
GS          0
Cmp         0
Att         0
Cmp%        0
Yds         0
TD          0
TD%         0
Int         0
Int%        0
1D          0
Lng         0
Y/A         0
AY/A        0
Y/C       344
Y/G         0
Rate        0
Sk          0
Yds-s       0
Sk%         0
NY/A        0
ANY/A       0
Year        0
dtype: int64

In [146]:
del passing["Pos"]

In [147]:
#replace NaN values with 0
passing = passing.fillna(0)

In [148]:
passing

,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds-s,Sk%,NY/A,ANY/A,Year
0,Kurt Warner,30,16,16,375,546,68.7,4830,36,6.6,...,8.4,12.9,301.9,101.4,38,233,6.5,7.87,7.41,2001
1,Peyton Manning,25,16,16,343,547,62.7,4131,26,4.8,...,6.6,12.0,258.2,84.1,29,232,5.0,6.77,5.88,2001
2,Brett Favre,32,16,16,314,510,61.6,3921,32,6.3,...,7.6,12.5,245.1,94.1,22,151,4.1,7.09,7.02,2001
3,Aaron Brooks,25,16,16,312,558,55.9,3832,26,4.7,...,6.0,12.3,239.5,76.4,50,330,8.2,5.76,4.99,2001
4,Rich Gannon,36,16,16,361,549,65.8,3828,27,4.9,...,7.2,10.6,239.3,95.5,27,155,4.7,6.38,6.61,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,Kadarius Toney,24,13,2,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2390,Kyle Trask,25,2,0,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2391,Garrett Wilson,23,17,17,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2392,Christian Kirk,27,12,12,1,2,50.0,-1,0,0.0,...,-0.5,-1.0,-0.1,56.2,0,0,0.0,-0.50,-0.50,2023
2393,Ja'Marr Chase,23,16,16,1,1,100.0,-7,0,0.0,...,-7.0,-7.0,-0.4,79.2,0,0,0.0,-7.00,-7.00,2023

In [149]:
#headers in our data
passing[passing["Player"] == "Player"]

,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds-s,Sk%,NY/A,ANY/A,Year
59,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2001
90,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2001
168,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2002
199,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2002
277,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2003
308,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2003
339,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2003
401,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2004
432,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2004
518,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2005
549,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2005
618,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2006
649,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2006
718,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2007
749,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2007
824,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2008
855,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2008
929,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2009
960,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2009
1039,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2010
1070,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2010
1143,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2011
1174,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2011
1241,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2012
1327,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2013
1413,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2014
1444,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2014
1515,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2015
1602,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2016
1633,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2016
1700,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2017
1731,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2017
1796,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2018
1827,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2018
1904,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2019
1935,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2019
2008,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2020
2039,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2020
2122,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2021
2153,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2021
2239,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2022
2270,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2022
2347,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2023
2378,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds,Sk%,NY/A,ANY/A,2023

In [150]:
#simple way to exclude these rows
passing = passing[passing["Player"] != "Player"]

In [151]:
#wow!
passing[passing["Player"] == "Player"]

Empty DataFrame
Columns: [Player, Age, G, GS, Cmp, Att, Cmp%, Yds, TD, TD%, Int, Int%, 1D, Lng, Y/A, AY/A, Y/C, Y/G, Rate, Sk, Yds-s, Sk%, NY/A, ANY/A, Year]
Index: []

[0 rows x 25 columns]

In [152]:
passing

,Player,Age,G,GS,Cmp,Att,Cmp%,Yds,TD,TD%,...,AY/A,Y/C,Y/G,Rate,Sk,Yds-s,Sk%,NY/A,ANY/A,Year
0,Kurt Warner,30,16,16,375,546,68.7,4830,36,6.6,...,8.4,12.9,301.9,101.4,38,233,6.5,7.87,7.41,2001
1,Peyton Manning,25,16,16,343,547,62.7,4131,26,4.8,...,6.6,12.0,258.2,84.1,29,232,5.0,6.77,5.88,2001
2,Brett Favre,32,16,16,314,510,61.6,3921,32,6.3,...,7.6,12.5,245.1,94.1,22,151,4.1,7.09,7.02,2001
3,Aaron Brooks,25,16,16,312,558,55.9,3832,26,4.7,...,6.0,12.3,239.5,76.4,50,330,8.2,5.76,4.99,2001
4,Rich Gannon,36,16,16,361,549,65.8,3828,27,4.9,...,7.2,10.6,239.3,95.5,27,155,4.7,6.38,6.61,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2389,Kadarius Toney,24,13,2,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2390,Kyle Trask,25,2,0,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2391,Garrett Wilson,23,17,17,0,1,0.0,0,0,0.0,...,0.0,0,0.0,39.6,0,0,0.0,0.00,0.00,2023
2392,Christian Kirk,27,12,12,1,2,50.0,-1,0,0.0,...,-0.5,-1.0,-0.1,56.2,0,0,0.0,-0.50,-0.50,2023
2393,Ja'Marr Chase,23,16,16,1,1,100.0,-7,0,0.0,...,-7.0,-7.0,-0.4,79.2,0,0,0.0,-7.00,-7.00,2023

In [153]:
passing.to_csv("passing_cleaned.csv")

In [154]:
rushing = pd.read_csv("rushing.csv")

In [155]:
rushing

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,Year,Succ%
0,0,1,Stephen Davis,WAS,27,RB,16,16,356,1432,5,75,32,4.0,89.5,6,2001,NaN
1,1,2,Corey Dillon*,CIN,27,RB,16,16,340,1315,10,69,96,3.9,82.2,5,2001,NaN
2,2,3,LaDainian Tomlinson,SDG,22,RB,16,16,339,1236,10,68,54,3.6,77.3,8,2001,NaN
3,3,4,Curtis Martin*,NYJ,28,RB,16,16,333,1513,10,78,47,4.5,94.6,2,2001,NaN
4,4,5,Priest Holmes*+,KAN,28,RB,16,16,327,1555,8,81,41,4.8,97.2,4,2001,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7729,351,342,Jonathan Williams,WAS,29,RB,1,0,1,-2,0,0,-2,-2.0,-2.0,0,2023,0.0
7730,352,343,Mike Williams,LAC,29,WR,3,3,1,3,0,0,3,3.0,1.0,0,2023,0.0
7731,353,344,Robert Woods,HOU,31,WR,14,11,1,7,0,0,7,7.0,0.5,0,2023,100.0
7732,354,345,Logan Woodside,ATL,28,QB,1,0,1,6,0,0,6,6.0,6.0,0,2023,100.0
7733,355,346,Ty Zentner,2TM,25,NaN,9,0,1,0,0,0,0,0.0,0.0,1,2023,0.0

In [156]:
#deleting bad columns
del rushing["Unnamed: 0"]
del rushing["Rk"]
del rushing["Pos"]
del rushing["Tm"]
del rushing["Succ%"]

In [157]:
rushing

,Player,Age,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,Year
0,Stephen Davis,27,16,16,356,1432,5,75,32,4.0,89.5,6,2001
1,Corey Dillon*,27,16,16,340,1315,10,69,96,3.9,82.2,5,2001
2,LaDainian Tomlinson,22,16,16,339,1236,10,68,54,3.6,77.3,8,2001
3,Curtis Martin*,28,16,16,333,1513,10,78,47,4.5,94.6,2,2001
4,Priest Holmes*+,28,16,16,327,1555,8,81,41,4.8,97.2,4,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7729,Jonathan Williams,29,1,0,1,-2,0,0,-2,-2.0,-2.0,0,2023
7730,Mike Williams,29,3,3,1,3,0,0,3,3.0,1.0,0,2023
7731,Robert Woods,31,14,11,1,7,0,0,7,7.0,0.5,0,2023
7732,Logan Woodside,28,1,0,1,6,0,0,6,6.0,6.0,0,2023
7733,Ty Zentner,25,9,0,1,0,0,0,0,0.0,0.0,1,2023

In [158]:
rushing["Player"] = rushing["Player"].str.replace("*", "", regex = False)
rushing["Player"] = rushing["Player"].str.replace("+", "", regex = False)

In [159]:
rushing.tail(20)

,Player,Age,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,Year
7714,James Robinson,25,1,0,1,2,0,0,2,2.0,2.0,0,2023
7715,Khalil Shakir,23,17,10,1,10,0,1,10,10.0,0.6,1,2023
7716,Player,Age,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,2023
7717,Sterling Shepard,30,15,2,1,6,0,0,6,6.0,0.4,1,2023
7718,Steven Sims,26,3,0,1,1,0,0,1,1.0,0.3,0,2023
7719,Jonnu Smith,28,17,6,1,0,0,0,0,0.0,0.0,1,2023
7720,Ryan Stonehouse,24,12,0,1,-11,0,0,-11,-11.0,-0.9,1,2023
7721,Trent Taylor,29,17,0,1,-2,0,0,-2,-2.0,-0.1,2,2023
7722,Adam Thielen,33,17,17,1,6,0,0,6,6.0,0.4,2,2023
7723,Logan Thomas,32,16,15,1,2,0,1,2,2.0,0.1,2,2023
7724,Cedric Tillman,23,14,3,1,8,0,0,8,8.0,0.6,0,2023
7725,Kyle Trask,25,2,0,1,-1,0,0,-1,-1.0,-0.5,0,2023
7726,Zeke Turner,27,16,1,1,2,0,1,2,2.0,0.1,0,2023
7727,Tress Way,33,17,0,1,0,0,0,0,0.0,0.0,0,2023
7728,Dontayvion Wicks,22,15,6,1,1,0,0,1,1.0,0.1,3,2023
7729,Jonathan Williams,29,1,0,1,-2,0,0,-2,-2.0,-2.0,0,2023
7730,Mike Williams,29,3,3,1,3,0,0,3,3.0,1.0,0,2023
7731,Robert Woods,31,14,11,1,7,0,0,7,7.0,0.5,0,2023
7732,Logan Woodside,28,1,0,1,6,0,0,6,6.0,6.0,0,2023
7733,Ty Zentner,25,9,0,1,0,0,0,0,0.0,0.0,1,2023

In [160]:
rushing.head(20)

,Player,Age,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,Year
0,Stephen Davis,27,16,16,356,1432,5,75,32,4.0,89.5,6,2001
1,Corey Dillon,27,16,16,340,1315,10,69,96,3.9,82.2,5,2001
2,LaDainian Tomlinson,22,16,16,339,1236,10,68,54,3.6,77.3,8,2001
3,Curtis Martin,28,16,16,333,1513,10,78,47,4.5,94.6,2,2001
4,Priest Holmes,28,16,16,327,1555,8,81,41,4.8,97.2,4,2001
5,Eddie George,28,16,16,315,939,5,40,27,3.0,58.7,8,2001
6,Lamar Smith,31,16,16,313,968,6,48,25,3.1,60.5,6,2001
7,Ricky Williams,24,16,16,313,1245,6,61,46,4.0,77.8,8,2001
8,Shaun Alexander,24,16,12,309,1318,14,64,88,4.3,82.4,4,2001
9,Ahman Green,24,16,16,304,1387,9,57,83,4.6,86.7,5,2001
10,Antowain Smith,29,16,15,287,1157,12,61,44,4.0,72.3,4,2001
11,Anthony Thomas,24,14,10,278,1183,7,58,46,4.3,84.5,0,2001
12,Emmitt Smith,32,14,14,261,1021,3,48,44,3.9,72.9,1,2001
13,Marshall Faulk,28,14,14,260,1382,12,70,71,5.3,98.7,3,2001
14,Garrison Hearst,30,16,16,252,1206,4,53,43,4.8,75.4,1,2001
15,Michael Pittman,26,15,14,241,846,5,42,42,3.5,56.4,5,2001
16,Maurice Smith,25,16,12,237,760,5,38,58,3.2,47.5,1,2001
17,Dominic Rhodes,22,15,10,233,1104,9,58,77,4.7,73.6,6,2001
18,Jerome Bettis,29,11,11,225,1072,4,46,48,4.8,97.5,3,2001
19,Travis Henry,23,13,12,213,729,4,39,25,3.4,56.1,5,2001

In [161]:
pd.isnull(rushing).sum()

Player    0
Age       0
G         0
GS        0
Att       0
Yds       0
TD        0
1D        0
Lng       0
Y/A       0
Y/G       0
Fmb       0
Year      0
dtype: int64

In [162]:
#now to combine rushing and passing to create players

In [163]:
passing.columns

Index(['Player', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%',
       'Int', 'Int%', '1D', 'Lng', 'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'Sk',
       'Yds-s', 'Sk%', 'NY/A', 'ANY/A', 'Year'],
      dtype='object')

In [164]:
rushing.columns

Index(['Player', 'Age', 'G', 'GS', 'Att', 'Yds', 'TD', '1D', 'Lng', 'Y/A',
       'Y/G', 'Fmb', 'Year'],
      dtype='object')

In [165]:
#the two dataframes have same columns but different values for some values

In [166]:
#to combine these we need to differentiate passing and rushing yards, touchdowns, etc
passing = passing.rename(columns={"Att": "pAtt",})
passing = passing.rename(columns={"Yds": "pYds",})
passing = passing.rename(columns={"TD": "pTD",})
passing = passing.rename(columns={"1D": "p1D",})
passing = passing.rename(columns={"Lng": "pLng",})
passing = passing.rename(columns={"Y/A": "pY/A",})
passing = passing.rename(columns={"Y/G": "pY/g",})

In [167]:
#same thing for rushing
rushing = rushing.rename(columns={"Att": "rAtt",})
rushing = rushing.rename(columns={"Yds": "rYds",})
rushing = rushing.rename(columns={"TD": "rTD",})
rushing = rushing.rename(columns={"1D": "r1D",})
rushing = rushing.rename(columns={"Lng": "rLng",})
rushing = rushing.rename(columns={"Y/A": "rY/A",})
rushing = rushing.rename(columns={"Y/G": "rY/g",})

In [168]:
#missed this
rushing = rushing[rushing["Player"] != "Player"]

In [169]:
rushing

,Player,Age,G,GS,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb,Year
0,Stephen Davis,27,16,16,356,1432,5,75,32,4.0,89.5,6,2001
1,Corey Dillon,27,16,16,340,1315,10,69,96,3.9,82.2,5,2001
2,LaDainian Tomlinson,22,16,16,339,1236,10,68,54,3.6,77.3,8,2001
3,Curtis Martin,28,16,16,333,1513,10,78,47,4.5,94.6,2,2001
4,Priest Holmes,28,16,16,327,1555,8,81,41,4.8,97.2,4,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7729,Jonathan Williams,29,1,0,1,-2,0,0,-2,-2.0,-2.0,0,2023
7730,Mike Williams,29,3,3,1,3,0,0,3,3.0,1.0,0,2023
7731,Robert Woods,31,14,11,1,7,0,0,7,7.0,0.5,0,2023
7732,Logan Woodside,28,1,0,1,6,0,0,6,6.0,6.0,0,2023
7733,Ty Zentner,25,9,0,1,0,0,0,0,0.0,0.0,1,2023

In [170]:
#saving to csv to further inspect before merging
rushing.to_csv("rushing_cleaned.csv")

In [93]:
rushing = pd.read_csv("rushing_cleaned.csv")
passing = pd.read_csv("passing_cleaned.csv")

In [94]:
stats = passing.merge(rushing, how = "outer", on = ["Player", "Year"])

In [95]:
stats

,Unnamed: 0_x,Player,Age_x,G_x,GS_x,Cmp,pAtt,Cmp%,pYds,pTD,...,G_y,GS_y,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb
0,0.0,Kurt Warner,30.0,16.0,16.0,375.0,546.0,68.7,4830.0,36.0,...,16.0,16.0,28.0,60.0,0.0,3.0,23.0,2.1,3.8,10.0
1,1.0,Peyton Manning,25.0,16.0,16.0,343.0,547.0,62.7,4131.0,26.0,...,16.0,16.0,35.0,157.0,4.0,10.0,33.0,4.5,9.8,7.0
2,2.0,Brett Favre,32.0,16.0,16.0,314.0,510.0,61.6,3921.0,32.0,...,16.0,16.0,38.0,56.0,1.0,6.0,14.0,1.5,3.5,16.0
3,3.0,Aaron Brooks,25.0,16.0,16.0,312.0,558.0,55.9,3832.0,26.0,...,16.0,16.0,80.0,358.0,1.0,25.0,26.0,4.5,22.4,13.0
4,4.0,Rich Gannon,36.0,16.0,16.0,361.0,549.0,65.8,3828.0,27.0,...,16.0,16.0,63.0,231.0,2.0,19.0,17.0,3.7,14.4,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7951,NaN,Tress Way,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7952,NaN,Jonathan Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,-2.0,0.0,0.0,-2.0,-2.0,-2.0,0.0
7953,NaN,Mike Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,1.0,3.0,0.0,0.0,3.0,3.0,1.0,0.0
7954,NaN,Robert Woods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,11.0,1.0,7.0,0.0,0.0,7.0,7.0,0.5,0.0
7955,NaN,Ty Zentner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [96]:
#many rushing players have no passing value data, and have NaNs, they can be dropped

In [97]:
stats = stats.dropna()

In [98]:
stats

,Unnamed: 0_x,Player,Age_x,G_x,GS_x,Cmp,pAtt,Cmp%,pYds,pTD,...,G_y,GS_y,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb
0,0.0,Kurt Warner,30.0,16.0,16.0,375.0,546.0,68.7,4830.0,36.0,...,16.0,16.0,28.0,60.0,0.0,3.0,23.0,2.1,3.8,10.0
1,1.0,Peyton Manning,25.0,16.0,16.0,343.0,547.0,62.7,4131.0,26.0,...,16.0,16.0,35.0,157.0,4.0,10.0,33.0,4.5,9.8,7.0
2,2.0,Brett Favre,32.0,16.0,16.0,314.0,510.0,61.6,3921.0,32.0,...,16.0,16.0,38.0,56.0,1.0,6.0,14.0,1.5,3.5,16.0
3,3.0,Aaron Brooks,25.0,16.0,16.0,312.0,558.0,55.9,3832.0,26.0,...,16.0,16.0,80.0,358.0,1.0,25.0,26.0,4.5,22.4,13.0
4,4.0,Rich Gannon,36.0,16.0,16.0,361.0,549.0,65.8,3828.0,27.0,...,16.0,16.0,63.0,231.0,2.0,19.0,17.0,3.7,14.4,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,2389.0,Kadarius Toney,24.0,13.0,2.0,0.0,1.0,0.0,0.0,0.0,...,13.0,2.0,11.0,31.0,0.0,2.0,14.0,2.8,2.4,1.0
2346,2390.0,Kyle Trask,25.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,...,2.0,0.0,1.0,-1.0,0.0,0.0,-1.0,-1.0,-0.5,0.0
2347,2391.0,Garrett Wilson,23.0,17.0,17.0,0.0,1.0,0.0,0.0,0.0,...,17.0,17.0,4.0,0.0,0.0,1.0,6.0,0.0,0.0,2.0
2348,2392.0,Christian Kirk,27.0,12.0,12.0,1.0,2.0,50.0,-1.0,0.0,...,12.0,12.0,1.0,6.0,0.0,0.0,6.0,6.0,0.5,2.0
2349,2393.0,Ja'Marr Chase,23.0,16.0,16.0,1.0,1.0,100.0,-7.0,0.0,...,16.0,16.0,3.0,-6.0,0.0,0.0,2.0,-2.0,-0.4,1.0

In [100]:
pd.isnull(stats).sum()

Unnamed: 0_x    0
Player          0
Age_x           0
G_x             0
GS_x            0
Cmp             0
pAtt            0
Cmp%            0
pYds            0
pTD             0
TD%             0
Int             0
Int%            0
p1D             0
pLng            0
pY/A            0
AY/A            0
Y/C             0
pY/g            0
Rate            0
Sk              0
Yds-s           0
Sk%             0
NY/A            0
ANY/A           0
Year            0
Unnamed: 0_y    0
Age_y           0
G_y             0
GS_y            0
rAtt            0
rYds            0
rTD             0
r1D             0
rLng            0
rY/A            0
rY/g            0
Fmb             0
dtype: int64

In [101]:
stats.columns

Index(['Unnamed: 0_x', 'Player', 'Age_x', 'G_x', 'GS_x', 'Cmp', 'pAtt', 'Cmp%',
       'pYds', 'pTD', 'TD%', 'Int', 'Int%', 'p1D', 'pLng', 'pY/A', 'AY/A',
       'Y/C', 'pY/g', 'Rate', 'Sk', 'Yds-s', 'Sk%', 'NY/A', 'ANY/A', 'Year',
       'Unnamed: 0_y', 'Age_y', 'G_y', 'GS_y', 'rAtt', 'rYds', 'rTD', 'r1D',
       'rLng', 'rY/A', 'rY/g', 'Fmb'],
      dtype='object')

In [102]:
del stats["Unnamed: 0_x"]
del stats["Unnamed: 0_y"]
del stats["Age_y"]
del stats["G_y"]
del stats["GS_y"]

In [103]:
stats = stats.rename(columns={"Age_x": "Age",})
stats = stats.rename(columns={"G_x": "G",})
stats = stats.rename(columns={"GS_x": "GS",})

In [104]:
stats.columns

Index(['Player', 'Age', 'G', 'GS', 'Cmp', 'pAtt', 'Cmp%', 'pYds', 'pTD', 'TD%',
       'Int', 'Int%', 'p1D', 'pLng', 'pY/A', 'AY/A', 'Y/C', 'pY/g', 'Rate',
       'Sk', 'Yds-s', 'Sk%', 'NY/A', 'ANY/A', 'Year', 'rAtt', 'rYds', 'rTD',
       'r1D', 'rLng', 'rY/A', 'rY/g', 'Fmb'],
      dtype='object')

,Player,Age,G,GS,Cmp,pAtt,Cmp%,pYds,pTD,TD%,...,ANY/A,Year,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb
0,Kurt Warner,30.0,16.0,16.0,375.0,546.0,68.7,4830.0,36.0,6.6,...,7.41,2001,28.0,60.0,0.0,3.0,23.0,2.1,3.8,10.0
1,Peyton Manning,25.0,16.0,16.0,343.0,547.0,62.7,4131.0,26.0,4.8,...,5.88,2001,35.0,157.0,4.0,10.0,33.0,4.5,9.8,7.0
2,Brett Favre,32.0,16.0,16.0,314.0,510.0,61.6,3921.0,32.0,6.3,...,7.02,2001,38.0,56.0,1.0,6.0,14.0,1.5,3.5,16.0
3,Aaron Brooks,25.0,16.0,16.0,312.0,558.0,55.9,3832.0,26.0,4.7,...,4.99,2001,80.0,358.0,1.0,25.0,26.0,4.5,22.4,13.0
4,Rich Gannon,36.0,16.0,16.0,361.0,549.0,65.8,3828.0,27.0,4.9,...,6.61,2001,63.0,231.0,2.0,19.0,17.0,3.7,14.4,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2345,Kadarius Toney,24.0,13.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00,2023,11.0,31.0,0.0,2.0,14.0,2.8,2.4,1.0
2346,Kyle Trask,25.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00,2023,1.0,-1.0,0.0,0.0,-1.0,-1.0,-0.5,0.0
2347,Garrett Wilson,23.0,17.0,17.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.00,2023,4.0,0.0,0.0,1.0,6.0,0.0,0.0,2.0
2348,Christian Kirk,27.0,12.0,12.0,1.0,2.0,50.0,-1.0,0.0,0.0,...,-0.50,2023,1.0,6.0,0.0,0.0,6.0,6.0,0.5,2.0
2349,Ja'Marr Chase,23.0,16.0,16.0,1.0,1.0,100.0,-7.0,0.0,0.0,...,-7.00,2023,3.0,-6.0,0.0,0.0,2.0,-2.0,-0.4,1.0

In [107]:
#now to combine with the mvp data to the stats to complete our composite training and testing data!

In [108]:
stats.dtypes

Player     object
Age       float64
G         float64
GS        float64
Cmp       float64
pAtt      float64
Cmp%      float64
pYds      float64
pTD       float64
TD%       float64
Int       float64
Int%      float64
p1D       float64
pLng      float64
pY/A      float64
AY/A      float64
Y/C       float64
pY/g      float64
Rate      float64
Sk        float64
Yds-s     float64
Sk%       float64
NY/A      float64
ANY/A     float64
Year        int64
rAtt      float64
rYds      float64
rTD       float64
r1D       float64
rLng      float64
rY/A      float64
rY/g      float64
Fmb       float64
dtype: object

In [122]:
findata = stats.merge(mvps, how = "outer", on = ["Player", "Year"])

In [123]:
findata

,Player,Age,G,GS,Cmp,pAtt,Cmp%,pYds,pTD,TD%,...,Year,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb,Share
0,Kurt Warner,30.0,16.0,16.0,375.0,546.0,68.7,4830.0,36.0,6.6,...,2001,28.0,60.0,0.0,3.0,23.0,2.1,3.8,10.0,43
1,Peyton Manning,25.0,16.0,16.0,343.0,547.0,62.7,4131.0,26.0,4.8,...,2001,35.0,157.0,4.0,10.0,33.0,4.5,9.8,7.0,NaN
2,Brett Favre,32.0,16.0,16.0,314.0,510.0,61.6,3921.0,32.0,6.3,...,2001,38.0,56.0,1.0,6.0,14.0,1.5,3.5,16.0,10
3,Aaron Brooks,25.0,16.0,16.0,312.0,558.0,55.9,3832.0,26.0,4.7,...,2001,80.0,358.0,1.0,25.0,26.0,4.5,22.4,13.0,NaN
4,Rich Gannon,36.0,16.0,16.0,361.0,549.0,65.8,3828.0,27.0,4.9,...,2001,63.0,231.0,2.0,19.0,17.0,3.7,14.4,13.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,Todd Gurley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
1927,Nick Bosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1928,Micah Parsons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4
1929,A.J. Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2
1930,Tyreek Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2

In [124]:
pd.isnull(findata).sum()

Player       0
Age         21
G           21
GS          21
Cmp         21
pAtt        21
Cmp%        21
pYds        21
pTD         21
TD%         21
Int         21
Int%        21
p1D         21
pLng        21
pY/A        21
AY/A        21
Y/C         21
pY/g        21
Rate        21
Sk          21
Yds-s       21
Sk%         21
NY/A        21
ANY/A       21
Year         0
rAtt        21
rYds        21
rTD         21
r1D         21
rLng        21
rY/A        21
rY/g        21
Fmb         21
Share     1841
dtype: int64

In [125]:
findata["Share"] = findata["Share"].fillna(0)

In [127]:
findata

,Player,Age,G,GS,Cmp,pAtt,Cmp%,pYds,pTD,TD%,...,Year,rAtt,rYds,rTD,r1D,rLng,rY/A,rY/g,Fmb,Share
0,Kurt Warner,30.0,16.0,16.0,375.0,546.0,68.7,4830.0,36.0,6.6,...,2001,28.0,60.0,0.0,3.0,23.0,2.1,3.8,10.0,43
1,Peyton Manning,25.0,16.0,16.0,343.0,547.0,62.7,4131.0,26.0,4.8,...,2001,35.0,157.0,4.0,10.0,33.0,4.5,9.8,7.0,0
2,Brett Favre,32.0,16.0,16.0,314.0,510.0,61.6,3921.0,32.0,6.3,...,2001,38.0,56.0,1.0,6.0,14.0,1.5,3.5,16.0,10
3,Aaron Brooks,25.0,16.0,16.0,312.0,558.0,55.9,3832.0,26.0,4.7,...,2001,80.0,358.0,1.0,25.0,26.0,4.5,22.4,13.0,0
4,Rich Gannon,36.0,16.0,16.0,361.0,549.0,65.8,3828.0,27.0,4.9,...,2001,63.0,231.0,2.0,19.0,17.0,3.7,14.4,13.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,Todd Gurley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
1927,Nick Bosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1928,Micah Parsons,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4
1929,A.J. Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2
1930,Tyreek Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2

In [133]:
#the remaining 21 nulls are all either defensive players or do not have any passing or rushing data
#therefore they can be dropped
findata = findata.dropna()

In [134]:
pd.isnull(findata).sum()

Player    0
Age       0
G         0
GS        0
Cmp       0
pAtt      0
Cmp%      0
pYds      0
pTD       0
TD%       0
Int       0
Int%      0
p1D       0
pLng      0
pY/A      0
AY/A      0
Y/C       0
pY/g      0
Rate      0
Sk        0
Yds-s     0
Sk%       0
NY/A      0
ANY/A     0
Year      0
rAtt      0
rYds      0
rTD       0
r1D       0
rLng      0
rY/A      0
rY/g      0
Fmb       0
Share     0
dtype: int64

In [135]:
findata.to_csv("FINAL.csv")